<div style="margin-top: 20px">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Mais Vendidos</h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/movel2.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/movel2.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Mesa Cone Oval</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              A mesa de Jantar Cone Oval Laminada em Madeira foi criada para
              possibilitar um design moderno com usabilidade para a sala de
              jantar, seu formato em cone mantém o espaçamento para as pernas
              dando conforto ao usá-la, é requintada se adequando a qualquer
              tipo de ambiente, clássico ou moderno, seu design é valorizado em
              decorações residenciais ou comerciais, elas são ideais para
              ambientes sofisticados.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/movel1.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/movel1.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Sofá Retrátil</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Um modelo exclusivo da Linha big, este sofá foi desenvolvido com
              encostos Mega Gigantes e assentos maiores em relação ao mercado, o
              Sofá Retrátil e Reclinável Big Space foi desenvolvido para trazer
              para sua sala charme e elegância,.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/movel3.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/movel3.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Conjunto Sala de Jantar</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Moderna e Linda, a Sala de Jantar Grécia com 4 Cadeiras Atuale é
              perfeita para pequenos ambientes, agregando conforto, modernidade
              e aquele requinte. Faça das suas refeições e reuniões os melhores
              momentos da sua vida.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/movel4.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/movel4.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Luminária de Chão Industrial</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Um lindo abajur de chão ou luminária de chão como também é
              conhecido. Seu design e conceito foi inspirado nas gradiosas
              construções dos Emirados, sua estrutura leve e clean deixa a luz
              trazer o aconchego na sua plenitude.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Nos faça
            <br />
            uma
            <br />
            visita!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</div>
