<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>store</mat-icon> Casa Thália Móveis e Decorações
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">Login</a>
        <a (click)="handleSignupAction()">Cadastrar-se</a>
        <a (click)="handleForgotPasswordAction()">Esqueceu Senha</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h3>Copyright © 2021-2023, Casa Thália Móveis e Decorações. Todos os direitos reservados.</h3>
  <h2>Redes sociais</h2>
  <h3>
    <a href="https://www.instagram.com/casathaliadecor/" class="instagram">
      <mat-icon>location_city</mat-icon>Instagram
    </a>
  </h3>
</div>
